@use '@carbon/layout' as layout; // used in global styles below

@import '@carbon/styles/css/styles.css';
@import '@carbon/styles/css/themes.css'; // Optional, for theme switching
@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;

  --cds-font-family-sans: var(--font-inter, 'Inter', sans-serif);

  // Primary button theming
  --cds-button-primary: #26A3DD;
  --cds-button-primary-hover: #12699D;
  --cds-button-primary-text: #ffffff;
}

// @media (prefers-color-scheme: dark) {
//   :root {
//     --background: #0a0a0a;
//     --foreground: #ededed;
//     --cds-button-primary: #26A3DD;
//     --cds-button-primary-hover: #12699D;
//   }
// }

 @media (prefers-color-scheme: white) {
  :root {
    
    --cds-button-primary: #26A3DD;
    --cds-button-primary-hover: #12699D;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--cds-font-family-sans);
}

.sdg {
  padding: layout.$spacing-05;
}

.custom-header-nav {
  margin-left: 2rem;
}