@use '@carbon/react/scss/colors' as colors;
@use '@carbon/layout' as layout;

@use '@carbon/react' with (
  //  $font-path: null,
  $use-flexbox-grid: true
);

// @use '../globals.scss';

.login-page {
  &.login-background-image {
    background-image: url('/login_page.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: layout.$spacing-05;
  }

  .login-centered-container {
    width: layout.rem(350px);
    background: white;
    padding: layout.$spacing-05;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }

  .logo-wrapper {
    text-align: center;
    margin-top: layout.$spacing-05;
  }

  .login-logo {
    max-width: 300px;
    height: auto;
    margin-bottom: layout.$spacing-04;
  }

  .login-title {
    text-align: center;
    color: black;
    margin: 0;
    font-size: 22px;
    font-weight: 600;
  }

  .forgot-password {
    display: flex;
    justify-content: flex-start;
    margin-top: calc(-1 * layout.$spacing-03);
  }

  .login-button-wrapper {
    text-align: center;
  }

  .signup-text {
    text-align: center;
    font-size: 0.9rem;
    margin-bottom: layout.$spacing-05;
  }

  .signup {
    color: colors.$cyan-40;
  }

  .login-button {
    background-color: var(--cds-button-primary) !important;
    color: var(--cds-button-primary-text) !important;
    border-radius: 5px;

    &:hover,
    &:focus {
      background-color: var(--cds-button-primary-hover) !important;
      color: var(--cds-button-primary-text) !important;
      box-shadow: none !important;
      outline: none !important;
      border-color: inherit !important;
    }
  }
}